{"swagger":"2.0","info":{"description":"API 描述","version":"1.0","title":"纷享销客数据对接","license":{}},"host":"crm.feser.com.cn","basePath":"/","tags":[{"name":"测试纷享销客接口用","description":"FXK Access Token Controller"},{"name":"纷享销客同步到中间数据库","description":"FXK Department Controller"}],"paths":{"/api/departmentImport":{"post":{"tags":["纷享销客同步到中间数据库"],"summary":"把纷享销客中部门数据插入到中间平台","description":"部门数据同步","operationId":"departmentImportUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/examineUser":{"post":{"tags":["纷享销客同步到中间数据库"],"summary":"通过审核ID添加用户","description":"审核用户","operationId":"examineUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"para","description":"para","required":true,"schema":{"$ref":"#/definitions/Para1"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/getAccessToken":{"get":{"tags":["测试纷享销客接口用"],"summary":"获取AccessToken数据","description":"获取AccessToken数据","operationId":"getAccessTokenUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/getDepartment":{"get":{"tags":["测试纷享销客接口用"],"summary":"获取部门数据_任务调度","description":"获取部门数据_任务调度","operationId":"getDepartmentUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/getUser":{"get":{"tags":["测试纷享销客接口用"],"summary":"获取用户数据_任务调度","description":"获取用户数据_任务调度","operationId":"getUserUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/updateUser":{"post":{"tags":["纷享销客同步到中间数据库"],"summary":"修改crm用户信息","description":"修改用户","operationId":"updateUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"para","description":"para","required":true,"schema":{"$ref":"#/definitions/Para3"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/updateUserByCRM":{"post":{"tags":["纷享销客同步到中间数据库"],"summary":"修改用户信息","description":"修改用户","operationId":"updateUserbyCRMUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"para","description":"para","required":true,"schema":{"$ref":"#/definitions/Para2"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/userImport":{"post":{"tags":["纷享销客同步到中间数据库"],"summary":"把纷享销客中用户数据插入到中间平台","description":"用户数据同步","operationId":"userImportUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Para4":{"type":"object","properties":{"stuffcode":{"type":"string","example":"员工编号","description":"stuffcode"}}},"Para1":{"type":"object","properties":{"id":{"type":"string","example":"crm审核id","description":"id"}}},"Para3":{"type":"object","properties":{"data":{"$ref":"#/definitions/Para4"},"delFlag":{"type":"integer","format":"int32"},"fromSysId":{"type":"string"},"fromTime":{"type":"string"},"mdmType":{"type":"string"},"toSysId":{"type":"string"}}},"Para2":{"type":"object","properties":{"mobile":{"type":"string","example":"crm员工手机号","description":"mobile"}}}}}
